<launch>
  <!-- Parameters -->
  <arg name="cfg_path" default="$(find visfly_node)/config/ekf_cfg.yaml" />
  <arg name="target_topic" default="vicon/objtarget/odom" />
  <node name="ekf_node" pkg="visfly_node" type="visfly_ekf_node" output="screen">
    <param name="cfg_path" value="$(arg cfg_path)" />
    <param name="target_topic" value="$(arg target_topic)" />
  </node>
</launch>
